*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    margin: 8px;
}
.nav-urls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: black;
    text-align: center;
    list-style: none;
}

section{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    height: 30vw;
    width: 40vw; 
    text-align: center;
}
.middle-content > h1{
    font-size: 2em;
}
.middle-content>p::first-letter{
    font-size: 2em;
}
.profile-image{
    min-height: 25vh;
    min-width: 25vh;
    max-height: 40vh;
    max-width: 40vh;
    align-self: center;
    border-radius: 8px;
}

footer{
    height: 20vw;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}