*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.nav-urls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: black;
    text-align: center;
    list-style: none;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vw;
    width: 40vw; 
}
.profile-image{
    min-height: 25vh;
    min-width: 25vh;
    max-height: 40vh;
    max-width: 40vh;
    align-self: center;
}